<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><%= link_to "Students", :dashboard_list %></li>
            <li><%= link_to "Filter", :dashboard_filter %></li>
            <li><%= link_to "Search", :dashboard_search %></li>
            <li><%= link_to "Compose Mail", :dashboard_mail %></li>
            <li><%= link_to "New Update", :dashboard_post %></li>

          </ul>
        </div>
</div>